{# templates\admin\character\character\edit.html.twig #}
{% extends 'admin/layout.html.twig' %}

{% block body_content %}
    
    {% include "admin/elements/_header.html.twig" with {
            'h_title':'Personnage : Personnages',
            'h_path_retour':'admin_character_list'
        }
    %}

    {% include "admin/elements/_alert.html.twig" %}

    {% include "admin/elements/_sub_header.html.twig" with {
            'sh_description':'Modifier un personnage',
            'sh_lien':'',
            'sh_btn_txt':''
        }
    %}

    {% include "admin/character/character/_form.html.twig" with {'button': 'Enregistrer'} %}

    <hr />

    <div class="row">
        <div class="col-12">
            <h2>Caractéristiques</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
        
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-bold">Nom</th>

                        <th class="text-bold">Valeur</th>
                        
                        <th class="text-bold">Modificateur initiale</th>

                        <th class="text-bold">Modificateur XPs</th>

                        <th class="text-bold text-center">Action</th>
                    <tr>
                </thead>
                <tbody>
                {% for characterFeature in character.features %}
                    {{ render(controller(
                    'App\\Controller\\Backend\\Character\\CharacterFeatureController::edit',
                    { 'id': characterFeature.id }
                )) }}
                {% else %}
                    <tr><td colspan="5" class="text-center">- Aucun enregistrement -</td></tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

    
    <hr />

    <div class="row">
        <div class="col-12">
            <h2>Compétences</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
        
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-bold">Nom</th>

                        <th class="text-bold">Valeur</th>

                        <th class="text-bold">Modificateur XPs</th>

                        <th class="text-bold text-center">Action</th>
                    <tr>
                </thead>
                <tbody>
                {% for characterskill in character.skills %}
                    {{ render(controller(
                    'App\\Controller\\Backend\\Character\\CharacterskillController::edit',
                    { 'id': characterskill.id }
                )) }}
                {% else %}
                    <tr><td colspan="5" class="text-center">- Aucun enregistrement -</td></tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}