{# templates\admin\character\accreditation\_list.html.twig #}
{% trans_default_domain 'forms' %}
<div class="row">
    <div class="col-12">
    
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-bold">Nom</th>

                    <th class="text-bold">Abréviation</th>
                    
                    <th class="text-bold">Type</th>

                    <th class="text-bold">Catégorie</th>

                    <th class="text-bold text-center">Action</th>
                <tr>
            </thead>
            <tbody>
            {% for accreditation in accreditations %}
                <tr>
                    <td>{{ accreditation.name }}</td>

                    <td>{{ accreditation.abbreviation }}</td>
                    
                    <td>
                        {% for key, type in constant('TYPE', accreditation) %}
                            {% if accreditation.type == key %}
                                {{ type|trans }}
                            {% endif %}
                        {% endfor %}
                    </td>

                    <td>
                        {% for key, category in constant('CATEGORY', accreditation) %}
                            {% if accreditation.category == key %}
                                {{ category|trans }}
                            {% endif %}
                        {% endfor %}
                    </td>

                    <td class="text-center">

                        {% include "admin/character/accreditation/_action.html.twig" %}

                    </td>
                <tr>
            {% else %}
                <tr><td colspan="4" class="text-center">- Aucun enregistrement -</td></tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% for accreditation in accreditations %}
    
    {% include "admin/character/accreditation/_modal.html.twig"  with {'title': 'accreditation' ~ accreditation.id } %}

{% endfor %}