{# templates\admin\character\role\list.html.twig #}
{% extends 'admin/layout.html.twig' %}

{% block body_content %}
    
    {% include "admin/elements/_header.html.twig" with {
            'h_title':'Personnage : Fonctions',
            'h_path_retour':'admin_list'
        }
    %}

    {% include "admin/elements/_alert.html.twig" %}
    
    {% set sh_description = "" %}
    
    {% include "admin/elements/_sub_header.html.twig" with {
            'sh_description':sh_description,
            'sh_lien':'admin_character_role_new',
            'sh_btn_txt':'Nouvelle fonction'
        }
    %}

    {% include "admin/elements/_display.html.twig" with {'route': 'admin_character_role_list'} %}

    {% if display == 'card' %}
    
        {% include "admin/character/role/_card.html.twig" %}

    {% else %}
    
        {% include "admin/character/role/_list.html.twig" %}

    {% endif %}

    {# display navigation #}
    <div class="navigation text-center">
        {{ knp_pagination_render(roles) }}
    </div>

{% endblock %}