{# templates\admin\index.html.twig #}
{% extends 'admin/layout.html.twig' %}

{% block body_content %}

    <div class="row">
        <div class="col-8">
            <h1>Joueurs</h1>
        </div>
        <div class="col-4 text-right align-self-center">
            <a href="{{ path('users_list') }}">Retour</a>
        </div>
    </div>

    {{ include "admin\users\_form.html.twig" }}
    
{% endblock %}