{# templates\admin\index.html.twig #}
{% extends 'admin/layout.html.twig' %}

{% block body_content %}

    <div class="row">
        <div class="col-8">
            <h1>Tableau de Bord</h1>
        </div>
        <div class="col-4 text-right align-self-center">
            <a href="{{ path('accueil') }}">Retour au site</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <ul>
                <li>Site - Paramètres</li>
                <li>Site - Historique</li>

                <li><a href="{{ path('users_list') }}">Joueur - Joueurs</a></li>

                <li>Personnage - Personnages Joueurs</li>
                <li>Personnage - Personnages Non Joueurs</li>
                <li>Personnage - Compétences</li>
                <li>Personnage - Caractéristiques</li>
                
                <li>Jeu - Règles</li>
                <li>Jeu - Troopédia</li>
                <li>Jeu - FanFics</li>
                
                <li>Jeu - Promotion</li>
                <li>Jeu - Médailles</li>
                <li>Jeu - Accréditations</li>
                <li>Jeu - Sanctions</li>

                <li>Jeu - Affectations</li>
            
                <li>Jeu - Equipements</li>

                <li>Jeu - Campagnes</li>
                <li>Jeu - Scénario</li>
                <li>Jeu - Missions</li>
                <li>Jeu - Objectifs</li>

            </ul>
        </div>
    </div>
{% endblock %}
