{# templates\admin\layout.html.twig #}
{% extends 'base.html.twig' %}

{% block title 'TLF Admin - V5 Alpha 1.0.5' %}

{% block nav %}

    {{ 
        render(controller('App\\Controller\\Backend\\AdminNavController::index')) 
    }}

{% endblock %}

{% block body %}
    <div class="container">
        {% block body_content %}{% endblock %}
    </div>
{% endblock %}
