{# templates\admin\layout.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
    {{ siteParam('site_title_abbr') }} - {{ 'Tableau de bord' }} - V{{ siteParam('site_version')|number_format(0) }} {{ siteParam('site_release') }}
{% endblock %}

{% block nav %}

    {% include "admin/elements/_nav.html.twig" %}

{% endblock %}

{% block body %}
    <div class="container main-container">
        {% block body_content %}{% endblock %}
    </div>
{% endblock %}
