{# templates\admin\elements\_affichage.html.twig #}
<div class="row mb-4 mt4">
    <div class="col-12 text-right">
        
        <a href="{{ path(route) }}?affichage=vignette">
            <i class="fas fa-th"></i>
        </a>
        
        <a href="{{ path(route) }}?affichage=liste">
            <i class="fas fa-th-list"></i>
        </a>
    </div>
</div>