{# templates\admin\elements\_display.html.twig #}
<div class="row mb-4 mt4">
    <div class="col-12 text-right">
        
        <a href="{{ path(route) }}?display=card">
            <i class="fas fa-th"></i>
        </a>
        
        <a href="{{ path(route) }}?display=list">
            <i class="fas fa-th-list"></i>
        </a>
    </div>
</div>