{# templates\admin\elements\_header.html.twig #}
<div class="row">
    <div class="col-8">
        <h1>{{ h_titre }}</h1>
    </div>
    <div class="col-4 text-right align-self-center">
        <a href="{{ path(h_path_retour) }}">Retour</a>
    </div>
</div>