{# templates\admin\site\faqs\_form.html.twig #}
{{ form_start(form) }}
    <div class="row">
            
        <div class="col-6">
            {{ form_row(form.question) }}
        </div>
        <div class="col-6">
            {{ form_row(form.reponse) }}
        </div>

    </div>

    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary">Enregistrer</button>
        </div>
    </div>
{{ form_end(form) }}