{# templates/bundles/TwigBundle/Exception/error403.html.twig #}
{% extends 'bundles/TwigBundle/Exception/layout.html.twig' %}

{% block body_content %}
    <h1>Accès refusé</h1>

    <p>
        Désolé, nous ne sommes pas en mesure de vous autoriser l'accès à la page demandée... Vérifiez votre URL
        ou <a href="{{ path('accueil') }}">retournez à la page d'accueil</a>.
    </p>
{% endblock %}